body {
  font-family: 'Courier New', Courier, monospace;
  background-color: darkgray;
}

h4 {
  text-align: center;
  font-weight: bolder;
  margin-top: 15px;
}

.jumbotron {
  padding: .6rem;
  line-height: .4;
  border: 1px solid darkslategrey;
  border-radius: .5rem;
  background-color: dimgray;
  box-shadow: 0px 0px 2px 1px dimgray;
  margin-top: 5px;
  margin-bottom: 5px;
}

#rog-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 60%;
  resize: none;
  overflow: hidden;
  color: limegreen;
  background-color: black;
  border: 2px solid darkslategrey;
}

#output {
  height: 400px;
  line-height: 1;
  border: 2px solid darkslategrey;
  background-color: black;
  color: limegreen;
  overflow: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

#output ul {
  list-style: none;
}

#number-input {
  border: 2px solid darkslategrey;
  margin-bottom: 5px;
}

#number-input:in-range {
  background-color: limegreen;
}

#number-input:out-of-range {
  background-color: orangered;
}

#number-input:out-of-range + label::after{
  content: 'ERROR: This unit is a 16-bit robot and personality configuration has been calibrated to "positive". As such, this unit only accepts values between 0 and 65535.';
}

